﻿@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>

<script type="text/javascript">

    var requestTable = {};

    $("document").ready(function() {

        var $input = $("input[type='search']"),
          $clearBtn = $("button[data-search='clear']"),
          $prevBtn = $("button[data-search='prev']"),
          $nextBtn = $("button[data-search='next']"),
          $content = $("#mdetails"),
          $results,
          currentClass = "current",
          offsetTop = 50,
          currentIndex = 0;

        function jumpTo() {
            if ($results.length) {
                var position,
                  $current = $results.eq(currentIndex);
                $results.removeClass(currentClass);
                if ($current.length) {
                    $current.addClass(currentClass);
                    position = $current.offset().top - offsetTop;
                    $(".modal-body").animate( {scrollTop: $current.offset().top - $(".modal-body").offset().top + $(".modal-body").scrollTop()});
                }
            }
        }

        $input.on("input", function() {
            var searchVal = this.value;
            $content.unmark({
                done: function() {
                    $content.mark(searchVal, {
                        separateWordSearch: false,
                        done: function() {
                            $results = $content.find("mark");
                            currentIndex = 0;
                            jumpTo();
                        }
                    });
                }
            });
        });


        $clearBtn.on("click", function() {
            $content.unmark();
            $input.val("").focus();
        });


        $nextBtn.add($prevBtn).on("click", function() {
            if ($results.length) {
                currentIndex += $(this).is($prevBtn) ? -1 : 1;
                if (currentIndex < 0) {
                    currentIndex = $results.length - 1;
                }
                if (currentIndex > $results.length - 1) {
                    currentIndex = 0;
                }
                jumpTo();
            }
        });


        requestTable = $("#requests").DataTable({
            "lengthMenu": [[50, 100, -1], [50, 100, "All"]],
            "destroy": true,
            "createdRow": function (row, data, rowIndex) {
                $.each($('td', row), function (colIndex) {
                    $(this).attr('data', data);
                });
            }
        });
        requestTable.columns([2,3,4]).visible(false);

        $("#requests tbody").on('click', 'tr', function() {
            var data = requestTable.row(this).data();
            $('#mdetails').empty();
            if(data[0]=="image"){
                $('<img src="'+ data[2] +'"/>').appendTo('#mdetails')
            }else {
                var lang = ""
                var str = "";
                switch(data[0]) {
                    case "xmlhttprequest":
                        lang = "json";
                        str = vkbeautify.json(data[2]);
                        break;
                    case "stylesheet":
                        lang = "css";
                        str = vkbeautify.css(data[2]);
                        break;
                    case "script":
                        lang = "javascript"
                        str = data[2];
                        break;
                    case "sub_frame":
                    case "main_frame":
                        lang = "markup";
                        str = escapeHTML(data[2]);
                        break;
                    default:
                        str = data[2];
                }
                $('#mdetails').html('<pre><code id="prism" class="language-'+lang+'">'+str+"</code></pre>");
                if(data[0]!=="main_frame")Prism.highlightElement($("#prism")[0]);
            }

            $('#modal').modal('show');
        });

        var master = @Html.Raw(ViewBag.master);

        var options = {
            cellHeight: 80,
            verticalMargin: 5,
        };

        var jsonval = 0;
        var imageval = 0;
        var otherval = 0;
        var scriptval = 0;
        var ViewModel = function () {
            var self = this;
            this.json = ko.observable("0");
            this.images = ko.observable("0");
            this.other = ko.observable("0");
            this.scripts = ko.observable("0");
            this.requests = ko.observableArray();
        };

        var vm = new ViewModel();
        ko.applyBindings(vm);

        var chat = $.connection.messageHub;

        $.connection.hub.start().done(function () {
        });

        for (var key in master.requests) {
            vm.requests.push(master.requests[key]);
            switch (master.requests[key].type) {
                case "xmlhttprequest":
                    jsonval++;
                    vm.json(jsonval);
                    break;
                case "image":
                    imageval++;
                    vm.images(imageval);
                    break;
                case "script":
                    scriptval++;
                    vm.scripts(scriptval);
                default:
                    otherval++;
                    vm.other(otherval);
                    break;
            }
            addRow(master.requests[key]);
        }

        chat.client.broadcastMessage = function (id) {
            var json = JSON.parse(id);
            vm.requests.push(json);
            switch (json.request.type) {
                case "xmlhttprequest":
                    jsonval++;
                    vm.json(jsonval);
                    break;
                case "image":
                    imageval++;
                    vm.images(imageval);
                    break;
                case "script":
                    scriptval++;
                    vm.scripts(scriptval);
                default:
                    otherval++;
                    vm.other(otherval);
                    break;
            }
            addRow(json.request)
        }

        function escapeHTML(html) {
            return html.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');
        }

        function formatXML(xml) {
            var formatted = '';
            var reg = /(>)(<)(\/*)/g;
            xml = xml.replace(reg, '$1\r\n$2$3');
            var pad = 0;
            jQuery.each(xml.split('\r\n'), function(index, node) {
                var indent = 0;
                if (node.match( /.+<\/\w[^>]*>$/ )) {
                    indent = 0;
                } else if (node.match( /^<\/\w/ )) {
                    if (pad != 0) {
                        pad -= 1;
                    }
                } else if (node.match( /^<\w[^>]*[^\/]>.*$/ )) {
                    indent = 1;
                } else {
                    indent = 0;
                }

                var padding = '';
                for (var i = 0; i < pad; i++) {
                    padding += '  ';
                }

                formatted += padding + node + '\r\n';
                pad += indent;
            });

            return formatted;
        }

        function formatJSON(json) {
            var str = json;
            if (typeof json == 'string') str = JSON.parse(json);
            return JSON.stringify(str, undefined, 2);
        }

    });


    $.fn.size = function () {
        return this.length;
    };

    function addRow(request) {
        var item = "";
        var icon = ""
        switch(request.type.toLowerCase()) {
            case "xmlhttprequest":
                item="json-item";
                icon="fa-plus";
                break;
            case "script":
                item = "script-item";
                icon = "fa-comments";
                break;
            case "image":
                item = "image-item";
                icon = "fa-file-image-o";
                break;
            default:
                item = "default-item";
                icon = "fa-folder-open-o";
                break;
        }

        $.ajax({
            type: 'POST',
            url: "http://localhost:59889/Home/GetResponse",
            data: JSON.stringify({"partitionKey": request.PartitionKey, "rowKey": request.RowKey}),
            success: function (payload) {
                if (payload != null) {
                    var panel = $("#details")

                    requestTable.row.add([
                    request.type,
                    request.url,
                    payload.response,
                    request.PartitionKey.toString(),
                    request.RowKey.toString()
                    ]).draw(true)
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console && console.log ("request failed");
            },
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            processData: false,
            async: true
        });
    }

</script>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container">

            <div id="modal" class="modal fade">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="search row">
                                <div class="col-xs-8">
                                    Search:
                                    <input type="search" placeholder="Lorem">
                                    <button data-search="next">&darr;</button>
                                    <button data-search="prev">&uarr;</button>
                                    <button data-search="clear">✖</button>
                                </div>
                                <div class="col-xs-4">
                                    <span>Search options:</span>
                                    <input type="checkbox" name="opt[]" value="separateWordSearch"> separate word search
                                </div>
                            </div>
                        </div>
                        <div class="modal-body" id="mdetails">
                        </div>
                        <div class="modal-footer">
                            <div>
                                <!--        <div class="btn-cap"><button class="btn btn-primary btn-block">Request</button></div>
                                          <div class="btn-cap"><button class="btn btn-success btn-block">Response</button></div>
                                          <div class="btn-cap"><button class="btn btn-info btn-block" id="btn-view">View</button></div>
                                          <div class="btn-cap"><button class="btn btn-danger btn-block">Compose</button></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row stats">
                <div class="col-sm-12 stats">
                    <div class="col-lg-3 col-md-6 cap-pan">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-plus fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" data-bind="text: json">90</div>
                                        <div>JSON Requests</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Filter</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 cap-pan">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" data-bind="text: scripts">90</div>
                                        <div>Script Requests</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Filter</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 cap-pan">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-file-image-o fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" data-bind="text: images">90</div>
                                        <div>Images</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Filter</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 cap-pan">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-folder-open-o fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" data-bind="text: other">90</div>
                                        <div>Other Requests</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Filter</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <div>
                        <div>
                            <table class="row-border table-striped hover" id="requests">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>URL</th>
                                        <th>data</th>
                                        <th>pk</th>
                                        <th>rk</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div>
                        <div id="details" align="left">
                            <div id="body"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>